
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 99vh;
	font-family: 'Montserrat', sans-serif;
}

.board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	row-gap: 0.4rem;
	column-gap: 0.4rem;
	width: fit-content;
}

.board-square {
	width: 3rem;
	height: 3rem;
	background-color: rgb(63, 63, 63);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 10px;
	border-radius: 0.25rem;
	border: 1px solid gray;
	background-color: rgb(6, 2, 39);
	margin-inline: 0.5rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.button:hover {
	background-color: rgb(21, 10, 117);
	transition: 0.6s;
}

.board-square:nth-child(63n-62),
.board-square:nth-child(63n-60),
.board-square:nth-child(63n-58),
.board-square:nth-child(63n-56),
.board-square:nth-child(63n-53),
.board-square:nth-child(63n-51),
.board-square:nth-child(63n-49),
.board-square:nth-child(63n-47),
.board-square:nth-child(63n-46), 
.board-square:nth-child(63n-44),
.board-square:nth-child(63n-42),
.board-square:nth-child(63n-40),
.board-square:nth-child(63n-37),
.board-square:nth-child(63n-35),
.board-square:nth-child(63n-33),
.board-square:nth-child(63n-31),
.board-square:nth-child(63n-30),
.board-square:nth-child(63n-28),
.board-square:nth-child(63n-26),
.board-square:nth-child(63n-24),
.board-square:nth-child(63n-21),
.board-square:nth-child(63n-19),
.board-square:nth-child(63n-17),
.board-square:nth-child(63n-15),
.board-square:nth-child(63n-14),
.board-square:nth-child(63n-12),
.board-square:nth-child(63n-12),
.board-square:nth-child(63n-10),
.board-square:nth-child(63n-8),
.board-square:nth-child(63n-5),
.board-square:nth-child(63n-3),
.board-square:nth-child(63n-1)
{
	background-color: rgb(170, 170, 170);
	color: black;
}

.board-square--selected {
	background-color: rgb(98, 98, 255) !important;
}

img.img-piece {
	width: 3rem;
}

.board-column{
	display: flex;
    flex-direction: column;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 48px;
	margin-right: 0.2rem;
}

.board-column p {
	padding-inline: 0.3rem;
}

.board-row {
	display: flex;
	justify-content: space-around;
}

.w-border {
	border: 2px solid gray;
	border-radius: 1rem;
}

.board-container {
	display: flex;
}

.game-notation-container {
	padding: 3rem;
}